<h1>Scrabble Word Score Calculator</h1>
<p>Enter a word into the field to see the score of that word.</p>

<form action="/result" method="get">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input id="word" class="form-control" type="text" name="word">
  </div>
  <button type="submit" class="btn btn-info">Go!</button>
</form>
